/*DSGOV*/
:root {
  --pure-0: #ffffff;
  --gray-20: #cccccc;
  --gray-80: #333333;
  --gray-5: #f2f2f2;

  --blue-warm-vivid-70: #1351b4;
  --blue-warm-vivid-90: #071d41;

  --feedback-success: #168821;
  --feedback-warning: #ffcd07;
  --feedback-error: #e52207;
}

/* TOKENS SEMÂNTICOS*/
:root {
  /* Superfície */
  --surface-light: var(--pure-0);
  --surface-light-alt: var(--gray-5);
  --surface-dark: var(--blue-warm-vivid-90);

  /* Texto */
  --text-on-light: var(--gray-80);
  --text-on-dark: var(--pure-0);
  --border-color: var(--gray-20);

  /* Interação */
  --interactive-light: var(--blue-warm-vivid-70);
}
