@if (!loading()) {
<div class="br-card">
  <div class="card-content">
    <div class="kpi-icon">
      <i [class]="'fas ' + icon()" [attr.aria-label]="title()"></i>
    </div>
    <div class="kpi-data">
      <p class="kpi-title">{{ title() }}</p>
      <h3 class="kpi-value">{{ value() }}</h3>
      @if (subtitle()) {
      <span class="kpi-label">{{ subtitle() }}</span>
      }
    </div>
  </div>
</div>
} @else {
  <div class="br-card color-cinza">
    <div class="card-content">
      <div class="kpi-icon">
        <p-skeleton shape="circle" width="40px" height="40px"></p-skeleton>
      </div>
      <div class="kpi-data">
        <p-skeleton width="50px"></p-skeleton>
        <p-skeleton width="80px" height="40px"></p-skeleton>
        <p-skeleton width="100%"></p-skeleton>
      </div>
    </div>
  </div>
}